html,
body {
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
  background-image: -webkit-radial-gradient(50% 40%, circle farthest-corner, #5f6b4d, #000000);
  background-size: cover;
  background-attachment: fixed;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
  margin: 0;
  padding: 0;
}

#app {
  contain: layout style;
  overflow: visible;
}


.lobby-room {
  width: 100%;
  max-width: 350px;
  margin: 20% auto;
}

.lobby-room  .login-button {
  margin-top: 15px;
}

.lobby-room  .login-input:after {
  border-bottom: 2px solid #fff !important;
}

@media screen and (max-width: 375px) {
  body {
    padding: 0 20px;
  }
}

 ul {
  margin: 0;
  padding: 0;
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  list-style-type: none;
  transform: translate(-50%, -50%);
}


div.chip-100-placed {
  background:url('assets/chip_black.png') no-repeat;
  background-size: 30px 30px;
}
div.chip-20-placed {
  background:url('assets/chip_blue.png') no-repeat;
  background-size: 30px 30px;
}
div.chip-10-placed {
  background:url('assets/chip_orange.png') no-repeat;
  background-size: 30px 30px;
}
div.chip-5-placed {
  background:url('assets/chip_purple.png') no-repeat;
  background-size: 30px 30px;
}

.chip-cell {
  vertical-align: middle;
  width:24px;
}
.chipValueImage {
  position: absolute;
  width:30px;
  height:30px;
}

.linearProgressRounds {
  width:400px;
  height:40px;
}

